// Colors
$darkest: #0000;
$darker: #2b124c;
$dark: #522b5b;
$light: #854f6c;
$lighter: #dfb6b2;
$lightest: #fbe4d8;
$neutral-color: #dfdfe7;
$secondary-color: #36a5b7;
$primary-color: white;
$trans: 0.3s ease-in-out;
$p-neutral: #777;

//fonts

$inter: "Inter", sans-serif;
$gt: "GT Walsheim", sans-serif;
