// Colors
$darkest: #222;
$darker: #2b124c;
$dark: #522b5b;
$light: #854f6c;
$lighter: #dfb6b2;
$lightest: #fbe4d8;
$neutral-color: #dfdfe7;
$secondary-color: #0499fd;
$secondary-d: #0077ff;
$primary-color: white;
$trans: 0.3s ease-in-out;
$p-neutral: #777;
$p-n: whitesmoke;
$dark-sm: #33333333;
$dark-sm-m: #44444444;

//fonts

$inter: "Inter", sans-serif;
$gt: "GT Walsheim", sans-serif;
