/* General Styles */
@import "./variables";

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: $light; /* or any other color of your choice */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
