@import "./constants";
@import "./variables";

.playground__codepreview {
  position: absolute;
  bottom: 0;
  width: 100%;

  .code__header {
    height: 40px;
    background: blue;
    @include flexAlign;
    padding: 0 1rem;
    @include flexBetween;
  }

  .codepreview__code {
    display: none;
  }
}
