@import "./constants";
@import "./variables";

.customize__container {
  min-height: 70vh;
  @include flexDirection(column);
  gap: 1rem;
  padding-right: 0.4rem;
  transition: all $trans;
  .customize__content {
    @include flexDirection(column);
    gap: 0.5rem;

    .customize {
      background: $dark-sm;
      @include flexDirection(column);
      gap: 0.5rem;
      padding: 0.5rem;
      border-radius: 5px;
      transition: $trans;
      // overflow: hidden;

      &:nth-child(1) {
        overflow: hidden;
      }

      &.open {
        height: fit-content;
        gap: 0;

        span {
          opacity: 0;
        }
      }

      .header {
        color: $p-neutral;
        @include flexAlign;
        @include flexBetween;

        &.op {
          margin-bottom: 0.5rem;
        }

        .rotate-icon {
          transition: transform 0.2s linear;

          &.open {
            transform: rotate(90deg);
          }
        }

        &:nth-child(1) {
          cursor: pointer;
        }
      }

      .customizer {
        p {
          @include flexAlign;
          gap: 0.5rem;
          margin-bottom: 0.5rem;
        }

        .space__content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1rem;

          .space {
            @include flexAlign;
            gap: 0.5rem;

            input::placeholder {
              color: $p-neutral;
            }
            input {
              max-width: 50px;
              min-height: 50px;
              border: none;
              outline: none;
              -moz-appearance: textfield;
              background: none;
              font-size: 20px;
              border-radius: 5px;
              text-align: center;
              color: $primary-color;
              border: 1px solid $dark-sm-m;
            }

            & input:focus + span {
              background: yellow;
            }
          }
        }
      }

      .bg__container {
        @include flexDirection(column);
        gap: 1rem;
        .selectors {
          @include flexAlign;
          border-radius: 5px;
          // overflow: hidden;
          padding: 0.2rem;
          background: $dark-sm-m;
          .selector {
            flex: 1;
            padding: 0.5rem 0;
            cursor: pointer;
            text-align: center;
            transition: $trans;
            border-radius: 5px;

            &.active {
              background: $p-neutral;
            }
          }
        }

        .color__container {
          @include flexAlign;
          gap: 1rem;

          .color__preview {
            flex: 1;
            @include flexAlign;
            gap: 1rem;
            background: $dark-sm-m;
            padding: 0.3rem;
            border-radius: 5px;
          }
          .color__opacity {
            flex: 1;
            @include flexAlign;
            @include flexBetween;
            background: $dark-sm-m;
            padding: 0.3rem;
            border-radius: 5px;
          }
        }

        .image__container {
          @include flexDirection(column);
          gap: 1rem;
          img {
            width: 100%;
          }
          .imagedrop {
            height: 80px;
            border: 1px dashed rgb(76, 76, 76);
            stroke: #000;
            stroke-width: 2;
            stroke-dasharray: 10, 5;
            @include flexCenter;
            background: $dark-sm-m;
            border-radius: 5px;
            transition: $trans;
            text-align: center;
            cursor: pointer;

            p {
              font-size: 1.3rem;
              span {
                color: $secondary-color;
                opacity: 1;
              }
            }

            span {
              opacity: 0.5;
            }

            &.active {
              border: 1px dashed $secondary-color;
            }
          }

          .option__container {
            position: relative;
            width: 100%;
            @include flexAlign;
            gap: 1rem;
            button {
              flex: 1;
              padding: 0.5rem 0;
              cursor: pointer;
              text-align: center;
              transition: $trans;
              border-radius: 5px;
              background: $dark-sm;
              border: none;
              cursor: pointer;
              color: $primary-color;

              &.active {
                background: $p-neutral;
              }
            }

            select {
              flex: 1;
              padding: 0.5rem;
              background: $dark-sm;
              border: none;
              color: $primary-color;
              cursor: pointer;
              option {
                background: blue;
              }
            }

            .assets__container {
              position: absolute;
              top: 40px;
              height: 200px;
              display: grid;
              grid-template-columns: 1fr 1fr;
              overflow-y: scroll;
              width: 90%;
              left: 0;
              right: 0;
              margin: 0 auto;
              z-index: 59;
              gap: 0.5rem;
              background: rgb(44, 44, 44);
              padding: 1rem;
              border-radius: 8px;

              .asset {
                height: 100px;
                border-radius: 5px;
                background: rgb(52, 52, 52);
                @include flexCenter;
                cursor: pointer;
              }
            }
          }
        }

        .video__container {
          width: 100%;
          input {
            width: 100%;
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid rgb(52, 52, 52);
            background: rgb(52, 52, 52);
            color: $p-neutral;
          }
        }
      }
    }
  }
}
