@import "./constants";
@import "./variables";

.customize__container {
  height: 100%;
  @include flexDirection(column);
  gap: 1rem;

  .customize__content {
    @include flexDirection(column);
    gap: 0.5rem;

    .customize {
      background: $dark-sm;
      @include flexDirection(column);
      gap: 0.5rem;
      padding: 0.5rem;
      border-radius: 5px;

      .customizer {
        p {
          @include flexAlign;
          gap: 0.5rem;
          margin-bottom: 0.5rem;
        }

        .space__content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1rem;

          .space {
            @include flexAlign;
            gap: 0.5rem;
          }

          input::placeholder {
            color: $primary-color;
          }
          input {
            max-width: 50px;
            min-height: 50px;
            border: none;
            outline: none;
            -moz-appearance: textfield;
            background: none;
            font-size: 20px;
            border: 1px solid $dark-sm-m;
            border-radius: 5px;
            text-align: center;
            color: $primary-color;
          }
        }
      }

      .bg__container {
        @include flexDirection(column);
        gap: 1rem;
        .selectors {
          @include flexAlign;
          border-radius: 5px;
          overflow: hidden;
          .selector {
            background: $dark-sm-m;
            flex: 1;
            padding: 0.5rem 0;
            cursor: pointer;
            text-align: center;
            transition: $trans;

            &.active {
              background: $p-neutral;
            }
          }
        }

        .color__container {
          @include flexAlign;
          gap: 1rem;
          background: red;

          .color__preview {
            background: black;
            flex: 1;
          }
          .color__opacity {
            flex: 1;
            @include flexAlign;

            input {
              max-width: 100px;
              border: none;
              outline: none;
              -moz-appearance: textfield;
              background: none;
              font-size: 20px;
              border: 1px solid $dark-sm-m;
              border-radius: 5px;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}
