@import "./constants";
@import "./variables";

.customize__container {
  height: 100%;
  @include flexDirection(column);
  gap: 1rem;
  padding-right: 0.4rem;
  transition: all $trans;
  .customize__content {
    @include flexDirection(column);
    gap: 0.5rem;
  }
}
