@import "./constants";
@import "./variables";

.landing__features {
  @include flexDirection(column);
  gap: 2rem;
  padding: 5rem 10%;
  color: $darkest;

  @include textContainer($p-neutral);

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    padding: 0;
    margin: 0;

    .feature {
      background: rgba(245, 245, 245, 0.263);
      padding: 1rem;
      border-radius: 24px;
      @include flexDirection(column);
      align-items: start;
      gap: 1rem;
      transition: $trans;

      &:hover {
        @include boxshadow;
        background: $primary-color;
      }

      .feature__icon {
        height: 100px;
        width: 100px;
        @include flexCenter;
        font-size: 2rem;
        background: $darkest;
        border-radius: 20px;
        color: $primary-color;
      }

      &:first-child,
      &:last-child {
        grid-column: span 2;
      }
    }
  }
}
