@import "./variables";
@import "./constants";

.landing__header {
  background-color: $primary-color;
  padding: 0 10%;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .logo {
    font-size: 1.125rem;
    font-weight: bold;
    color: black;
  }
  ul {
    display: flex;
    gap: 2rem;

    a {
      font-weight: bold;
      padding: 10px 15px;
      border-radius: 8px;
      transition: $trans;
      text-transform: capitalize;
      &:hover {
        background: whitesmoke;
      }
    }
  }

  .cta__btns {
    display: flex;
    align-items: center;
    gap: 2rem;

    .cta__btn {
      padding: 12px 16px;
      color: black;
      font-weight: bold;
      transition: all $trans;
      border-radius: 12px;
      &.active {
        @include gradientShadow;
        @include Gradient;
        color: white;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
