@import "./variables";

main {
  overflow: hidden;
  p {
    margin-bottom: 1em;
    line-height: 1.5;
    color: $dark;
  }
}

footer {
  width: 100%;
  padding: 2rem 10%;
  text-align: center;
  position: relative;
  font-weight: bold;

  span {
    position: absolute;
    right: 10%;
  }
}
