@import "./constants";
@import "./variables";

.app__playground {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;

  .playground__container {
    width: 100%;
    height: 100%;
    position: relative;

    .playground__wrapper {
      height: 100vh;
      display: flex;
      color: white;
    }

    .codePreview {
      height: 10px;
      background: $darkest;
    }
  }
}
